<!-- #### CSS SECTION #### -->
<section id="css">
    <div class="intro has-icon">
        <h1>CSS</h1>
        <p>Just as the information on a web page is semantically described in the <a href="#markup">HTML Markup</a>, CSS describes all presentation aspects of the page via a description of its visual properties. CSS is powerful in that these properties are mixed and matched via identifiers to control the page's layout and visual characteristics through the layering of style rules (the "cascade").</p>
    </div>
    <h3>General Coding Principles</h3>
    <ul>
        <li>Add CSS through external files, minimizing the number of files, if possible. It should always be in the HEAD of the document.</li>
        <li>Use the <code>link</code> tag to include, <a href="http://blog.amodernfable.com/2008/01/21/thoughts-on-linking-to-stylesheets/">never the @import.</a>
            <figure class="pre-code">Including a stylesheet</figure>
            <pre><code class="html">
&lt;link rel="stylesheet" type="text/css" href="myStylesheet.css" />
            </code></pre>
            <figure class="pre-code">Don't use inline styling</figure>
            <pre><code class="html">
&lt;p style="font-size: 12px; color: #FFFFFF">This is poor form, I say&lt;/p>
            </code></pre>
            </li>
        <li>Don't include styles inline in the document, either in a style tag or on the elements. It's harder to track down style rules.</li>
        <li>Use <a href="http://necolas.github.com/normalize.css/">normalize.css</a> to make rendering more consistent across browsers. <small>(Both H5BP and Bootstrap incorporate this).</small></li>
        <li>Styles should be applied with classes, using elements and IDs in selectors should be avoided. This makes the CSS more reusable and cuts down on specificity.</li>
        <li>Understand <a href="http://www.stuffandnonsense.co.uk/archives/css_specificity_wars.html">cascading and selector specificity</a>, but avoid relying on it.</li>
        <li>Keep selectors efficient and portable</li>
        <li><a href="https://github.com/csswizardry/CSS-Guidelines/#selectors">Avoid heavily location-based selectors</a></li>
    </ul>
    <h3>CSS Box Model</h3>
    <p>Intimate knowledge and understanding of the CSS and browser-based box model is necessary for conquering the fundamentals of CSS layouts.</p>
    <figure class="extra">
        <img src="/standards/static/img/box_model.png" alt="CSS Box Model" title="CSS Box Model" />
        <figcaption><small>3D CSS Box Model</small> diagram by <a href="http://hicksdesign.co.uk/boxmodel/">Jon Hicks</a>.</figcaption>
    </figure>
    <h3>CSS Validation</h3>
    <p>We typically don't use the <a href="http://jigsaw.w3.org/css-validator/">W3C validator</a>.</p>
    <h3>CSS Formatting</h3>
    <p>On all new projects we use hyphen delimited, lowercase selectors:</p>
    <pre><code class="css">
.thisIsBad {}
.this_is_also_bad {}
.this-is-correct {}
    </code></pre>
    <p>Single line CSS should be avoided because it's hard to diff in git.</p>
    <pre><code class="css">
/* incorrect */
.masthead { position: relative; max-width: 990px; margin: auto; }

/* correct */
.masthead {
    position: relative;
    max-width: 990px;
    margin: auto;
}
    </code></pre>
    <h3>Classes vs. IDs</h3>
    <p><a href="http://csswizardry.com/2011/09/when-using-ids-can-be-a-pain-in-the-class/">Do not use IDs in CSS <strong>at all</strong></a>.
        They can be used in your markup for JavaScript and fragment-identifiers but use only classes for styling. Classes come with the benefit
        of being reusable and they have a nice, low specificity.</p>
    <p>Chaining classes is <em>encouraged</em>, allowing for more modularity and reusability of components.</p>
    <pre><code class="html">
&lt;ul class="inline-list breadcrumb">
    &lt;li>Tier 1&lt;/li>
    &lt;li>Tier 2&lt;/li>
    &lt;li>Tier 3&lt;/li>
&lt;/ul>
    </code></pre>
    <h3>Naming Conventions for Selectors</h3>
    <p>It is always preferable to pick a class name, by the nature of <strong>what it is</strong> rather than by <strong>what it looks like</strong>. For instance, a class name of <code>big-blue-text</code> for a special note on a page is quite meaningless if it has been changed to have a small red text color. Using a more intelligent convention such as <code>note-text</code> is better because when the  visual style changes it still makes sense.</p>
    <h3>OOCSS</h3>
    <p>Instead of building dozens of unique components, try and spot repeated design patterns abstract them; build these skeletons as base 'objects' and then peg classes onto these to extend their styling for more unique circumstances.</p>
    <p>If you have to build a new component split it into structure and skin; build the structure of the component using very generic classes so that we can reuse that construct and then use more specific classes to skin it up and add design styles.</p>
    <p><b>More information:</b></p>
    <ul>
        <li><a href="http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/">The media object saves hundreds of lines of code</a></li>
        <li><a href="http://csswizardry.com/2011/09/the-nav-abstraction/">The ‘nav’ abstraction</a></li>
    </ul>
    <h3>Selectors</h3>
    <p>The <a href="http://www.w3.org/TR/2009/PR-css3-selectors-20091215/">CSS Selectors Level 3</a> specification introduces a whole new set of <a href="http://www.w3.org/TR/css3-selectors/#selectors">CSS Selectors</a> that are extremely useful for better selection of elements.</p>
    <h4>Pseudo-classes</h4>
    <p><a href="http://www.w3.org/TR/css3-selectors/#pseudo-classes">Pseudo-classes</a> enable you to dynamically style content. Some pseudo-classes have existed since CSS1 (<code>:visited, :hover</code>, etc.) and CSS2 (<code>:first-child, :lang</code>). As of CSS3, 16 new pseudo-classes have been added to the list and are especially useful for styling dynamic content. <a href="http://www.smashingmagazine.com/2011/03/30/how-to-use-css3-pseudo-classes/">Learn how to use pseudo-classes in-depth</a>.</p>
    <h4>Combinators &amp; Attribute Selectors</h4>
    <p><a href="http://www.w3.org/TR/css3-selectors/#combinators">Combinators</a> provide shortcuts for selecting elements that are a descendant element, a child element, or an element's sibling.</p>
    <p><a href="http://www.w3.org/TR/css3-selectors/#attribute-selectors">Attribute Selectors</a> are great for finding elements that have a specific attribute and/or specific value. Knowledge of regular expressions helps with attribute selectors. </p>
<h4>Specificity</h4>
    <p>Browsers <a href="http://www.w3.org/TR/2009/PR-css3-selectors-20091215/">calculate a selector's specificity</a> to determine which CSS rule should apply. If two selectors apply to the same element, the one with the <strong>higher specificity wins</strong>.</p>
    <p>IDs have a higher specificity than attribute selectors do, and class selectors have higher specificity than any number of element selectors. It is important to understand specificity and the cascade, but by sticking to classes and limiting the amount of nesting we can simplify specificity and make CSS more reuseable.</p>
    <p>Using <code>!important</code> overrides all specificity no matter how high it is. Try to avoid using it for this reason.</p>
    <h3>Pixels vs. Ems</h3>
    <p>We use the <code>px</code> unit of measurement to define <code>font-size</code>, because it offers absolute control over text. Additionally, unit-less <code>line-height</code> is preferred because it does not inherit a percentage value of its parent element, but instead is based on a multiplier of the <code>font-size</code>.</p>
    <figure class="pre-code">Correct</figure>
    <pre><code class="css">
.selector {
    font-size: 13px;
    line-height: 1.5;  /*  13 * 1.5 = 19.5 ~ Rounds to 20px. */
}
    </code></pre>
    <figure class="pre-code">Incorrect</figure>
    <pre><code class="css">
/*  Equivalent to 13px font-size and 20px line-height, but only if the browser default text size is 16px. */
.selector {
    font-size: 0.813em;
    line-height: 1.25em;
}
    </code></pre>
    <h3>Internet Explorer Bugs</h3>
    <p>We use a mixture of <a href="http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/">conditional html tags</a> and <a href="http://mathiasbynens.be/notes/safe-css-hacks">safe CSS hacks</a> to tackle IE bugs.</p>
    <p>You can use the <code>.oldie</code> class to target IE8 and lower, and the same class with the <code>*</code> hack to target IE7 and lower.</p>
    <figure class="pre-code">Fixing IE</figure>
    <pre><code class="html">
&lt;!--[if lt IE 9]>&lt;html class="no-js oldie" lang="en">&lt;![endif]-->
&lt;!--[if gt IE 9]>&lt;!-->&lt;html class="no-js" lang="en">&lt;!--&lt;![endif]-->
    </code></pre>
    <pre><code class="css">
.box {
    float: left;
    margin-left: 20px;
}
.oldie .box {
    margin-left: 10px; /* targets IE8 and lower */
    *margin-left: 5px; /* targets IE7 and lower */
}
    </code></pre>
    <p>If you're using HTML5 (and the <a href="#h5bp">HTML5 Boilerplate</a>) we encourage the use of the <a href="http://www.modernizr.com/">Modernizer</a> JavaScript library and append the <code>no-js</code> class to the <coe>html</code> element.</p>
    <h4>Prevent Compatibility Mode</h4>
    <p>Sometimes <abbr title="Internet Explorer">IE</abbr> can have a mind of its own and will switch to compatibility mode without you knowing. Include the following in HTTP headers sent on responses containing html:</p>
    <pre><code class="http">
X-UA-Compatible: IE=edge,chrome=1
    </pre></code>
    <p>If using the H5BP please note that it includes this definition in the <code>&lt;head></code> section of the html, and will need to be removed as it will cause the <a href="https://github.com/h5bp/html5-boilerplate/issues/378">compatibility mode icon to appear</a> in IE when used with the<D-r> conditional html tags.</p>
<h3>Shorthand</h3>
    <p>In general, CSS shorthand is preferred because of its terseness.
    Developers should be aware of the <abbr title="Top Right Bottom Left">TRBL</abbr> acronym, denoting the order in which the sides of an element are defined, in a clock-wise manner: Top, Right, Bottom, Left. If <em>bottom</em> is undefined, it inherits its value from <em>top</em>. Likewise, if <em>left</em> is undefined, it inherits its value from <em>right</em>. If only the <em>top</em> value is defined, all sides inherit from that one declaration.</p>
    <p>In some situations shorthand is not appropriate. If you are overriding just one value, you should not repeat the other values.</p>
    <h3>Images</h3>
    <ul>
        <li>Images used for design features should be avoided where possible. CSS3 features like <code>border-radius</code>, <code>gradients</code> and <code>box-shadow</code> should be used wherever possible.</li>
        <li>For repeating images, use <a href="http://www.iandevlin.com/blog/2010/03/webdev/fading-issue-with-repeating-background-transparent-image-in-internet-explorer">something larger than 1x1 pixels</a></li>
        <li>You should never be using spacer images.</li>
        <li>Use <a href="#_leverage-css-sprites">CSS sprites generously</a>. They make hover states easy, improve page load time, and reduce carbon dioxide emissions.</li>
        <li>Typically, all images should be sliced with a transparent background (PNG8). All should be cropped tightly to the image boundaries.</li>
    </ul>
    <hr />
    <h3>General Text and Font Styling</h3>
    <h4>Headings</h4>
    <ul>
        <li>Define default styling for <code>h1-h6</code> headings including headings as links.</li>
        <li>Headings should show a hierarchy indicating different levels of importance from the top down starting with h1 having the largest font size.</li>
        <li>Just because two headlines share a font size and colour in a design does not mean they should be the same type of heading. Instead define classes with your heading definitions so that you can set the style of a title with a class:
        <pre><code class="css">
h1, .h1 {
    /* styles */
}
h2, .h2 {
    /* styles */
}
        </code></pre>
        </li>
    </ul>
    <!-- #### CSS3 SECTION #### -->
    <!--========================*\
     oh rly?    ya rly!  
       \ ___,    ___ /   _,_  no rly?
        {O,0}   {-.-}   {o,O} /
        |)__)   |)~(|   (~~(|
    -----"-"-----"-"-----"-"-----,_
    =========================== -->
    <h2>CSS3</h2>
    <p>Design elements should be produced with CSS3 wherever possible. Please try to avoid using images for design effects, as the extra HTTP requests will add weight to slow down page load.</p>
    <p>CSS3 layout features such as flexbox and css3 columns should generally be avoided because of our need to support legacy browsers. (This will change as the browser market changes over time)</p>
    <h3>Progressive enhancement</h3>
    <p>We can use tools such as <a href="http://modernizr.com/">Modernizr</a> to detect the cababilities of the browser and provide appropriate fallbacks or fix missing features with <a href="https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-Browser-Polyfills">polyfills</a>. 
    Polyfills often come at a cost of page performance, using extra javascript and sometimes even flash. <strong>Use with caution</strong>.</p>
    <p><a href="http://dl.dropbox.com/u/228092/Factsheet-%20Where%20are%20my%20rounded%20corners.pdf">Where are my 
        rounded corners?</a> by <a href="http://boagworld.com">Paul Boag</a> explains in language tailored for clients, why pixel perfect designs and sites in older browsers are expensive and unnecessary.</p>
    <h3>Vendor prefixes</h3>
    <p>As CSS3 is still a working draft, many features have not been fully standaradised yet. This does not stop us from using them, it just means we have to be careful about implementation.</p>
    <p>To use these CSS3 features in as many browsers as possible we need to embrace vendor prefixes. The easiest way to make sure we are using up to date vendor prefixes is by using a generator.</p>
    <h4>Generators</h4>
    <ul>
        <li>For projects using <a href="http://lesscss.org/">Less</a>, <a href="http://twitter.github.com/bootstrap/less.html#mixins">Bootstrap's mixins.less</a> is a very good starting point containing many cross-browser CSS3 mixins.</li>
        <li>For vanilla CSS using <a href="http://css3please.com/">css3please.com</a> will save you time and help to avoid cross browser errors.</li>
    </ul>
    <!-- #### LESS SECTION #### -->
    <!--========================*\
     oh rly?    ya rly!  
       \ ___,    ___ /   _,_  no rly?
        {O,0}   {-.-}   {o,O} /
        |)__)   |)~(|   (~~(|
    -----"-"-----"-"-----"-"-----,_
    =========================== -->
    <h2>Less</h2>
    <p>We use <a href="http://lesscss.org/">Less</a> on larger projects to help manage CSS. We use Less over other CSS pre-processors because of it's compatibility with the Java eco-system.</p>
    <p>Less provides variables, mixins, nesting, operations, colour functions and <a href="http://lesscss.org/">more</a> with a very similar syntax to native CSS.</p>
    <p>When writing Less try to avoid using highly nested selectors, so that the rules can be easily reused elsewhere.</p>
    <!-- #### WEB TYPOGRAPHY SECTION #### -->
    <!--========================*\
     oh rly?    ya rly!  
       \ ___,    ___ /   _,_  no rly?
        {O,0}   {-.-}   {o,O} /
        |)__)   |)~(|   (~~(|
    -----"-"-----"-"-----"-"-----,_
    =========================== -->
    <h2>Web Typography</h2>
    <p>Hosted services are preferred over self hosting fonts. But sometimes we need to self host when using custom fonts.</p>
    <h3>Self hosted</h3>
    <ul>
        <li>Use <a href="http://www.fontsquirrel.com/fontface/generator/">Font Squirrel's online <code>@font-face</code> generator</a> and inline the <code>@font-face</code> CSS definitions in your own CSS.</li>
        <li>Send the correct <a href="https://github.com/h5bp/html5-boilerplate/blob/master/.htaccess#L149">mime types</a></li>
        <li>If font files are stored on a seperate domain send <a href="https://developer.mozilla.org/en-US/docs/HTTP/Access_control_CORS">CORS</a> headers.</li>
    </ul>
    <h3>Hosted services</h3>
    <ul>
        <li><a href="http://www.google.com/fonts/">Google fonts</a> hosts many free fonts. Just include the <code>link</code> tag in the header and start using the font in your CSS.</li>
        <li><a href="https://typekit.com/">Typekit</a> hosts a much wider range of fonts that are not free. It requires a paid for account and JavaScript to work.</li>
    </ul>
    <h3>Font licensing</h3>
    <p>Even though you can transform just about any font into a web font file, you still need to check it is legal for us to do so. Many foundries have updated their conditions to specify how their fonts can be used on the web. View <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&item_id=UNESCO_Font_Lic">Font Licensing and Protection Details</a> for more information.</p>
    <h3>Font icons</h3>
    <p>Font icons are a set of icons that would normally be images or vectors, that are embedded into a web font. Using an icon font will cut down on HTTP requests and also enable scaling of the icon to any size. Using an icon font will also restrict the icon to just one colour.</p>
    <p>We often use <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a> because of it's large range of icons and compatibility with Bootstrap.</p>
</section>
