<!-- #### JAVSCRIPT SECTION #### -->
<section id="js">
    <div class="intro has-icon">
        <h1>JavaScript</h1>
        <p>JavaScript is the third major component of a web page. JavaScript code, when properly applied to a web page, enhances the overall user and browser-based experience through attaching to events and controlling the overall behavior layer.</p>
        <p>JavaScript has seen an explosion in popularity in recent years as powerful new browser implementations have finally empowered the creation of full on browser-based web applications. Additionally, careful use of JavaScript allows for full manipulation and control over the other two components of web page authoring, <a href="#markup">HTML Markup</a> and <a href="#css">CSS</a>. Today the structure of pages and the visual styles of pages can be manipulated real time without full web page refreshes.</p>
    </div>
    <h3>JavaScript Libraries</h3>
    <p class="normalize">We primarily develop new applications in <a href="http://api.jquery.com/">jQuery</a>, though we have expertise in plain JavaScript as well as many major modern JavaScript libraries.</p>
    <p>If you find yourself doing a lot of data manipulation with objects and/or arrays <a href="http://underscorejs.org/">underscore</a> is a very useful utility library that fixes lots of JavaScript gotchas.</p>
    <h3>General Coding Principles</h3>
    <ul>
        <li>99% of code should be housed in external JavaScript files. They should be included at the END of the <code>body</code> tag for maximum page performance.</li>
        <li>On larger projects JavaScript files should be asyncronously loaded with <a href="http://yepnopejs.com/">yepnope</a>.</li>
        <li>Don't rely on the user-agent string. Do proper feature detection. (More at <a href="http://diveintohtml5.info/detect.html">Dive Into HTML5: Detection</a> &amp; <a href="http://modernizr.com/docs/">Modernizr docs</a>)</li>
        <li>Don't use document.write().</li>
        <li>All Boolean variables should start with "is".
            <figure class="pre-code">Test for positive conditions</figure>
            <pre><code class="js">
isValid = (test.value >= 4 && test.success);
            </code></pre>
        </li>
        <li>Name variables and functions logically: For example: <code>popUpWindowForAd</code> rather than <code>myWindow</code>.</li>
        <li>Don't manually minify. With the exception of the traditional <code>i</code>, etc. for <code>for</code> loops, variables should be long enough to be meaningful.</li>
        <li>Constants or configuration variables (like animation durations, etc.) should be at the top of the file.</li>
        <li>Strive to create functions which can be generalized, take parameters, and return values. This allows for substantial code reuse and, when combined with includes or external scripts, can reduce the overhead when scripts need to change. For example, instead of hard coding a pop-window with window size, options, and url, consider creating a function which takes size, url, and options as variables.</li>
        <li>Comment your code! It helps reduce time spent troubleshooting JavaScript functions.</li>
        <li>Don't waste your time with <code>&lt;!-- --&gt;</code> comments surrounding your inline JavaScript, unless you care about Netscape 4.&nbsp;:)</li>
        <li>Organize your code as an <a href="http://kaijaeger.com/articles/the-singleton-design-pattern-in-javascript.html">Object Literal/Singleton</a>, in the <a href="http://www.yuiblog.com/blog/2007/06/12/module-pattern/">Module Pattern</a>, or as an <a href="http://mckoss.com/jscript/object.htm">Object with constructors</a></a>.</li>
      <li>Minimize global variables - the less globals you create, the better. Generally one, for your application namespace, is a good number. 
            <figure class="pre-code">When specifying any global variable, clearly identify it</figure>        
            <pre><code class="js">
window.globalVar = { ... }
            </code></pre>
        </li>
    </ul>
    <h3>White-space</h3>
    <p>In general, the use of whitespace should follow longstanding English reading conventions. Such that, there will be one space after each comma and colon (and semi-colon where applicable), but no spaces immediately inside the right and left sides of parenthesis. In short, we advocate readability within reason. Additionally, braces should always appear on the same line as their preceding argument.</p>
    <figure class="pre-code">Consider the following examples of a JavaScript for-loop...</figure>
    <pre><code class="js">
// Correct
for (var i = 0; i &lt; arr.length; i++) {
    // Do something.
}

// Incorrect
for ( var i = 0; i &lt; , j = arr.length; i++ )
{
    // Do something.
}

// Also incorrect
for(var i=0;i&lt;arr.length;i++){
    // Do something.
}
    </code></pre>
    <h3>Variables</h3>
    <p>All JavaScript variables shall be written in either completely lowercase letter or camelCase. The one exception to this are Constructor functions, which are capitalized by tradition.</p>
    <h3>plugins.js</h3>
    <p>Plugins.js is meant to hold all of a sites plugin code. Instead of linking to many different files, we can improve performance by including plugin code directly in this one file. There can and should be exceptions to this usage. An extremely large plugin only used on one rarely visited page, for example, might be better off in a separate download, only accessed on the target page. Most of the time, however, it's safe to just paste in minified versions of all your plugins here for easy access. </p>
    <h4>Script.js</h4>
    <p>Script.js is meant to hold your site or application code. Again, this isn't always the best solution as larger teams and or larger, more feature rich projects can really benefit from breaking out application code into module or feature specific files. For smaller sites, simpler applications, and initial prototyping, however, dropping your work into scripts.js makes sense.</p>
    <h3>Binding events</h3>
    <p>Never use <code>onclick</code>, <code>onsubmit</code> or <code>onblur</code> attributes in your markup, instead assign event listeners unobtrusively. The easiest way to do this is with jQuery.</p>
    <pre><code class="js">
$('.some-element').on('click', callback);
    </code></pre>
    <p>When binding lots of events use <a href="http://api.jquery.com/on/#direct-and-delegated-events">event delegation</a> to improve performance.<p>
    <figure class="pre-code">For example binding events for 30 buttons inside of a container.</figure>
    <pre><code class="js">
// This is fast, because it is actually only one event
$('#containing-element').on('click', 'button', callback);

// This will be slow, because it is 30 different events
$('#containing-element button').on('click', callback);
    </code></pre>
    <p>More info at <a href="http://davidwalsh.name/event-delegate">How JavaScript Event Delegation Works</a> by David Walsh</p>
    <h2>Debugging</h2>
    <p>Even with the best of validators, inevitably browser quirks will cause issues. There are several invaluable tools which will help to refine code integrity and loading speed. It is important that you have all of these tools available to you, despite the browser you primarily use for development.</p>
    <ul>
        <li><strong>Firefox</strong>: <a href="http://getfirebug.com/">Firebug</a>, <a href="http://code.google.com/speed/page-speed/">Page Speed</a>, <a href="http://developer.yahoo.com/yslow/">YSlow</a></li>
        <li><strong>Safari</strong>: <a href="http://developer.apple.com/safari/library/documentation/AppleApplications/Conceptual/Safari_Developer_Guide/UsingtheWebInspector/UsingtheWebInspector.html">Web Inspector</a></li>
        <li><strong>Google Chrome</strong>: <a href="http://google.com/chrome/intl/en/webmasters-faq.html#tools">Developer Tools</a></li>
        <li><strong>Opera</strong>: <a href="http://opera.com/dragonfly/">Dragonfly</a></li>
        <li><strong>Internet Explorer 6-7</strong>: <a href="http://microsoft.com/downloads/details.aspx?familyid=E59C3964-672D-4511-BB3E-2D5E1DB91038">Developer Toolbar</a>, <a href="http://www.my-debugbar.com/wiki/CompanionJS/HomePage">Companion.JS</a></li>
        <li><strong>Internet Explorer 8-10</strong>: <a href="http://msdn.microsoft.com/en-us/library/dd565625(v=VS.85).aspx">Developer Tools</a></li>
    </ul>
</section>
