<!-- #### AUTHORS + TEAM + REVISION HISTORY ASIDES #### -->
<aside id="authors" role="comlimentary">
    <h2>Authors of the Isobar, Front-end Code Standards & Best Practices</h2>
    <ul>
        <li><a href="http://twitter.com/#%21/paul_irish">Paul Irish</a></li>
        <li><a href="http://twitter.com/#%21/nickcooley">Nick Cooley</a></li>
        <li><a href="http://twitter.com/#%21/_ajm">Adam McIntyre</a></li>
        <li><a href="http://htmlcssjavascript.com/">Rob Larsen</a></li>
        <li><a href="http://twitter.com/#%21/jayroh">Joel Oliviera</a></li>
        <li><a href="http://twitter.com/#%21/jaredwilli">Jared Williams</a></li>
        <li><a href="http://twitter.com/#%21/annettish">Annette Arabasz</a></li>
        <li><a href="http://twitter.com/#%21/rcherny">Rob Cherny</a></li>
    </ul>
</aside>
