<!-- #### IDE SECTION #### -->

<section id="ides">

    <div class="intro has-icon">
        <h1>IDE Settings</h1>

        <p>The easiest way to ensure code conventions is to use your IDE's built-in code formatting utilities.<P>
        <P>Most modern IDEs support this functionality, and below you can find Semantico's settings for the most
        popular IDEs.</p>
    </div>
    
    <h2>IntelliJ</h2>

    <p>Semantico IntelliJ settings can be downloaded <a class="download-link" href="/static/files/intellij/Semantico.xml">here</a>.</p>

    <p>The code style schemes are stored in XML files, in the config/codestyles folder under the IntelliJ IDEA home directory.</p>

    <p>On a Mac the path is something like: /Users/yourusername/Library/Preferences/IntelliJIdea11/codestyles/</p>

    <p>Once a settings schema is copied to this directory, you can load it in IntelliJ by:</p>

    <ul>
        <li>Open the Preferences dialog box, and click Code Style</li>
        <li>In the Code Style page, select Semantico (if you can't see it, even after copying over the file, restart IntelliJ)</li>

        <li>Apply changes by clicking Apply and then OK on the Code Style page.</li>
    </ul>
    <p></p>

    <p>To auto reformat a class (or a directory of classes) use control, alt, L (or cmd, alt, L in OSX).</p>

    <h2>Eclipse/STS</h2>

    <p>Inconveniently, Eclipse stores formatting and code templating styles in several different files, but we're only
        concerned with two of them (for now).</p>

    <p>The code style schemes are stored in XML files, and can be easily imported within the IDE.</p>

    <p>Eclipse <b>Formatter</b> settings can be downloaded <a class="download-link" href="/static/files/eclipse/formatter/SemanticoFormatter.xml">here</a>.</p>

    <p>Eclipse <b>Clean Up</b> settings can be downloaded <a class="download-link" href="/static/files/eclipse/cleanup/SemanticoCleanup.xml">here</a>.</p>

    <p><i>To load Formatter settings:</i></p>
    <ul>
        <li>Open the Preferences dialog box, and click Java then Code Style, then <b>Formatter</b>.</li>
        <li>Click on the Import button and select the settings XML (the formatter XML file) you wish to import.</li>

        <li>Click apply changes by clicking Apply and then OK.</li>
    </ul>
    <p></p>

    <p><i>To load Clean Up settings:</i></p>
    <ul>
        <li>Open the Preferences dialog box, and click Java then Code Style, then <b>Clean Up</b>.</li>
        <li>Click on the Import button and select the settings XML (the clean up XML file) you wish to import.</li>

        <li>Click apply changes by clicking Apply and then OK.</li>
    </ul>
    <p></p>

    <p>To auto reformat a class (or a directory of classes) use control, shift, F (or cmd, alt, F in OSX).</p>

    <p>To clean up a file, go to the Source file menu, and click on the option 'Clean Up'.</p>

</section>
