<!-- #### Overview #### -->
<section id="overview">
    <h2>Overview</h2>
    <p>
        This document contains conventions, rules and guidelines on how Semantico developed products should be coded, formatted and styled.
    </p>
    <p>This document's primary motivation is two- fold: <tt>1)</tt> code consistency and <tt>2)</tt> best practices.
        By maintaining consistency in coding styles and conventions, we can ease the burden of legacy code maintenance,
        and mitigate risk of breakage in the future. By adhering to best practices, we ensure optimized, readable, maintainable code.</p>
</section>
