---
layout:   default
title:    Front-end Code Standards & Guidelines - Semantico
sidebar:  true
---
<h1 class="language-title">Front-end Code Standards &amp; Guidlines</h1>
{% include sections/front-end/general.html %}
{% include sections/front-end/markup.html %}
{% include sections/front-end/css.html %}
{% include sections/front-end/javascript.html %}
{% include sections/front-end/accessibility.html %}
{% include sections/front-end/performance.html %}
{% include sections/front-end/browsers.html %}
{% include sections/front-end/seo.html %}
{% include sections/front-end/appendices.html %}
