/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
    margin: 0;
}


/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */

p,
pre {
    margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
    quotes: none;
}

/* 2 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

/*
 * Addresses margins set differently in IE6/7
 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */

button,
input {
    line-height: normal; /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/* =============================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.ir {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* Semantico */


/* == BASE == */

/*
 * Fonts:
 * base: 14px/18px
 * Using a 18px grid with all horizontal measurements as a %age
 */

body {
    font:  14px/18px sans-serif;
    color: #585555;
    background: #333;
}

a {
    text-decoration: none;
    color:           #000;
    border-bottom:   1px dashed #EF6B00;
}

a:hover {
    color:               #EF6B00;
    border-bottom-style: solid;
}

a:visited {
    border-bottom: 1px dashed #5BABDF;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color:       #000;
    font-family: 'Trebuchet MS', sans-serif;
    margin:      0 0 18px 0;
    text-shadow: 1px 1px 2px #c4c4c4;
}

h1, .h1 {
    color:       #EF6B00;
    font-size:   24px;
    line-height: 36px;
}

h2, .h2 {
    font-size:   20px;
    line-height: 36px;
}

h3, .h3 {
    font-size:   16px;
    line-height: 36px;
}

h4, .h4 {
    font-size:   14px;
    line-height: 36px;
}

p {
    margin: 0 0 18px 0;
}

ul {
    list-style:   disc;
    margin:       0 0 18px 0;
    padding-left: 18px;
}

    ul ul {
        margin: 0;
    }

pre {
    border: 1px solid #d0d0d0;
}

hr {
    height:     1px;
    border:     0;
    background: #fff;
}


/* == MODULES == */
.page {
    background: #f0f0f0
}

.top-bar {
    padding:       9px 0;
    border-bottom: 5px solid #EF6B00;
    margin-bottom: 18px;
    background:    #fff;
}

.container {
    max-width: 1188px;
    padding:   0 18px;
    margin:    auto;
    position:      relative;
}

.bar-item {
    float: left;
}

.logo, .logo:visited {
    display:    block;
    width:      315px;
    height:     61px;
    background: no-repeat url(../img/logo.svg) 0 0;
    margin:     9px 18px 0 0;
    border:     0;
}

.no-svg .logo {
    background-image: url(../img/logo.png);
}

.no-margin {
    margin: 0;
}

.site-navigation {
    position: absolute;
    bottom:   9px;
    right:    18px;
}

.inline-list {
    margin:   0;
    padding:  0;
}

    .inline-list li {
        float:        left;
        margin-right: 10px;
    }


.page-link, .page-link:visited {
    display:               block;
    padding:               7px 16px; /* 9-2 and 18-2 for border */
    color:                 #fff;
    font-family:           'Trebuchet MS', sans-serif;
    border:                2px solid #fff;
    background-color:      #5BABDF;
    background-image:      -webkit-gradient(linear, left top, left bottom, from(#5BABDF), to(#376785)); /* Saf4+, Chrome */
    background-image:      -webkit-linear-gradient(top, #5BABDF, #376785); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:         -moz-linear-gradient(top, #5BABDF, #376785); /* FF3.6+ */
    background-image:           -o-linear-gradient(top, #5BABDF, #376785); /* Opera 11.10+ */
    background-image:              linear-gradient(to bottom, #5BABDF, #376785);
    -webkit-border-radius: 5px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
    border-radius:         5px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */
    -webkit-box-shadow:    0px 2px 10px 0px #bbb; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow:            0px 2px 10px 0px #bbb; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

.page-link:hover {
    color:                 #fff;
    background-color:      #88C1E7;
    background-image:      -webkit-gradient(linear, left top, left bottom, from(#88C1E7), to(#4783A9)); /* Saf4+, Chrome */
    background-image:      -webkit-linear-gradient(top, #88C1E7, #4783A9); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:         -moz-linear-gradient(top, #88C1E7, #4783A9); /* FF3.6+ */
    background-image:           -o-linear-gradient(top, #88C1E7, #4783A9); /* Opera 11.10+ */
    background-image:              linear-gradient(to bottom, #88C1E7, #4783A9);
    box-shadow:            0px 2px 10px 0px #bbb; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

.page-link:active {
    position: relative;
    top:      2px;
    box-shadow:            0px 0px 10px 0px #bbb; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

.content {
    min-height: 600px;
}

.container-over .aside {
    position: relative;
    z-index:  1;
}

.container-over-fixed {
    position: fixed;
    top:      18px;
    bottom:   18px;
    left:     0;
    right:    0;
}

.aside {
    float:   right;
    width:   24.24242424%;
    padding: 18px 1.51515151%;
    background: #fff;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

.toc {
    padding: 0;
}

    .toc a {
        display: block;
    }

.toc-tier-1 {
    padding:    9px 18px;
    border:     0;
    background: #f0f0f0;
    font-size:  16px;
}

.toc-tier-1:hover {
    background: #f0f0f0;
}

.toc-sub {
    border-top:   1px dashed #EF6B00;
    margin-left:  18px;
    padding-left: 0;
}

.toc-tier-2 {
    padding: 5px 9px 4px;
}

.content-thin {
    float: left;
    width: 71.212121212121%;
}

.no-js .content-thin {
    float:  none;
    margin: auto;
}

.language-title {
    color:     #5BABDF;
    font-size: 28px;
}

.intro {
    padding:       17px 0 17px 63px; /* 18-1 for border */
    border:        1px solid #fff;
    background:    no-repeat url(../img/arrow.svg) 9px 16px;
    border-width:  1px 0;
    margin-bottom: 18px;
}

.no-svg .intro {
    background-image: url(../img/arrow.png);
}

li.social-li {
    margin: 0;
}

.social-link {
    display:    block;
    width:      30px;
    height:     30px;
    margin-top: 5px;
    background: url(../img/social-media.png) 0 0;
}

.social-twitter {
    background-position: 30px 0;
}

.page-footer {
    padding: 9px 0;
    color: #ddd;
}

.page-footer a {
    color: #fff;
}

.page-footer p {
    margin: 0;
}

.page-footer a:hover {
    color: #EF6B00;
}

.download-link:after {
    content: "\2193";
    color:   #EF6B00;
}

.pre-code {
    margin-top: 18px;
    padding: 4px 9px 5px;
    border: 1px solid #d0d0d0;
    border-width: 1px 1px 0;
}

.pre-code + pre {
    margin-top: 0;
}

.github-link,
.github-link:visited {
    display:  block;
    position: absolute;
    top:      129px;
    right:    0;
    height:   149px;
    width:    149px;
    border:   0;
    z-index:  1;
}

code {
    background:            rgba(239, 107, 0, .075);
    padding:               2px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
}

/*** hompage ***/

.row {
    overflow: hidden;
    margin: 0 0 0 -1.515151515152%;
}
.cell1, .cell2 {
    float:                 left;
    width:                 30.80808080808%;
    margin:                0 0 18px 1.515151515152%;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background:            #fff;
    background:            rgba(255, 255, 255, .35);
    padding:               18px 1.515151515152%;
}
.cell2 {
    width: 60%;
}
.btn {
    width:                 48.7551867219915%;
    float:                 left;
    margin-left:           2.489626556017%;
    text-align:            center;
    -webkit-box-sizing:    border-box; /* Safari/Chrome, other WebKit */
       -moz-box-sizing:    border-box;    /* Firefox, other Gecko */
            box-sizing:    border-box;         /* Opera/IE 8+ */
    background:            #fff;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow:    0 2px 4px rgba(0, 0, 0, .1);
            box-shadow:    0 2px 4px rgba(0, 0, 0, .1);
    padding:               18px 0;
    border:                0;
}
.btn:active {
    position:           relative;
    top:                2px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .1);
            box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}
.btn:first-child {
    margin: 0;
}
.btn-language {
    margin:    0;
    font-size: 18px;
}




/*** highlightjs styles: ***/

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

pre code {
  display: block; padding: 0.5em;
  color: #000;
  background: #f8f8ff
}

pre .comment,
pre .template_comment,
pre .diff .header,
pre .javadoc {
  color: #998;
  font-style: italic
}

pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .lisp .title,
pre .nginx .title,
pre .subst,
pre .request,
pre .status {
  color: #000;
  font-weight: bold
}

pre .number,
pre .hexcolor {
  color: #40a070
}

pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula {
  color: #d14
}

pre .title,
pre .id {
  color: #900;
  font-weight: bold
}

pre .javascript .title,
pre .lisp .title,
pre .subst {
  font-weight: normal
}

pre .class .title,
pre .haskell .type,
pre .vhdl .literal,
pre .tex .command {
  color: #458;
  font-weight: bold
}

pre .tag,
pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
  color: #000080;
  font-weight: normal
}

pre .attribute,
pre .variable,
pre .instancevar,
pre .lisp .body {
  color: #008080
}

pre .regexp {
  color: #009926
}

pre .class {
  color: #458;
  font-weight: bold
}

pre .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .lisp .keyword,
pre .tex .special,
pre .input_number {
  color: #990073
}

pre .builtin,
pre .built_in,
pre .lisp .title {
  color: #0086b3
}

pre .preprocessor,
pre .pi,
pre .doctype,
pre .shebang,
pre .cdata {
  color: #999;
  font-weight: bold
}

pre .deletion {
  background: #fdd
}

pre .addition {
  background: #dfd
}

pre .diff .change {
  background: #0086b3
}

pre .chunk {
  color: #aaa
}

pre .tex .formula {
  opacity: 0.5;
}

