<!DOCTYPE html public "Semantico: Transforming Digital Publishing">
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="//ajax.googleapis.com" />
    <title>Semantico: Code Standards & Guidelines for Java and Front-end Development</title>
    <link rel="stylesheet" href="/static/css/github.css" />
    <link rel="stylesheet" href="/static/css/standards.css" />
    <script src="/static/js/modernizr.js"></script>
</head>
<body>
    <header id="masthead" class="top-bar" role="banner">
        <div class="container clearfix">
            <div class="bar-item">
                <a class="logo ir" href="http://www.semantico.com">Semantico: Transforming Digital Publishing</a>
                <h1 class="h4 no-margin">Code Standards &amp; Guidelines</h1>
            </div>
            <nav id="site-navigation" class="bar-item site-navigation">
                <ul class="inline-list clearfix">
                    <li><a class="page-link" href="/">Standards</a></li>
                    <li><a class="page-link" href="/java">Java</a></li>
                    <li><a class="page-link" href="/front-end">Front-end</a></li>
                    <li class="social-li"><a class="social-link ir social-twitter" href="//twitter.com/semantico" target="_blank">Twitter</a></li>
                    <li class="social-li"><a class="social-link ir social-facebook" href="//facebook.com" target="_blank">Facebook</a></li>
                </ul>
            </nav>
        </div>
    </header>


    {% if page.sidebar == true %}
        <div id="fixed-nav" class="container container-over">
            <nav id="page-navigation" class="aside">
                <h2 class="h1 no-margin">Table of Contents</h2>
                <ul id="toc" class="toc">

                </ul>
            </nav>
        </div>

        <div class="container clearfix">
            <div id="content" role="main" class="content content-thin">
                {{ content }}
            </div>
        </div>
    {% else %}
        <div class="container">
            <div id="content" role="main" class="content">
                {{ content }}
            </div>
        </div>
    {% endif %}



    <footer id="footer" class="page-footer" role="contentinfo">
        <div class="container clearfix">
            <div class="content-thin">
                <p>&copy; <a href="http://www.semantico.com">Semantico</a> {{ site.time | date: "%Y" }}</p>
                <p>Inspired by and based upon the <a href="http://na.isobar.com/standards">Isobar, Front-end Code Standards &amp; Best Practices</a><br />
                <a href="http://creativecommons.org/licenses/by/3.0/">All content licensed under Creative Commons Attribution 3.0 Unported License</a></p>
            </div>
        </div>
    </footer>


    <script>
        (function () {

            window._gaq = [['_setAccount', 'UA-XXX'], 
                ['_trackPageview'], ['_trackPageLoadTime'], ['_setSiteSpeedSampleRate', 10]];
            var zep     = navigator.userAgent.indexOf("MSIE") == -1;

            yepnope([{
                    test:     zep,
                    yep:      '/static/js/zepto.js',
                    nope:     '//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js',
                    complete: function () {
                        !zep && !window.jQuery && yepnope('/static/js/jquery-1.7.2.min.js');
                    }
                },
                {
                    load:     '/static/js/standards.js'
                },
                {
                    test:     Modernizr.history,
                    yep:      '/static/js/pages.js'
                }]);
            // GA is loaded at the same time as the other scripts because it has no dependencies
            yepnope(('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js');

        })();
    </script>
</body>
</html>

